node_modules
.next
out
coverage
.test-build
test-results
playwright-report
blob-report
.git
.gitignore
.env
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
README.md
